@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    .main{
        .page1{
            background-image: url('..//img/Hero\ Header.png');
            header{
                padding-top: 30px;
                    display: flex;
                    h1{
                        width: 1000px;
                        padding-right: 500px;
                        font-family: 'Poppins', sans-serif;
                        font-style: normal;
                        font-weight: 800;
                        font-size: 18.0451px;
                        line-height: 71.5%;
                        color: #FFFFFF;
                    }
                    ul{
                        display: flex;
                        li{
                            list-style: none;
                            a{
                                padding-right: 18px;
                                text-decoration: none;
                                font-family: 'Poppins', sans-serif;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 11.6912px;
                                line-height: 78%;
                                /* or 9px */

                                text-align: center;
                                letter-spacing: 0.02em;

                                /* Pure White */

                                color: #FFFFFF;
                            }
                        }
                    }
            }
            .intro{
                padding-top: 100px;
                text-align: center;
                h4{
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 800;
                    font-size: 12.2707px;
                    line-height: 71.5%;
                    /* identical to box height, or 9px */

                    text-align: center;
                    margin-bottom: 30px;
                    color: #FFE074;
                }
                h1{
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 800;
                    font-size: 62.797px;
                    line-height: 71.5%;
                    /* or 45px */

                    text-align: center;

                    /* Pure White */
                    margin-bottom: 30px;
                    color: #FFFFFF;
                }
                p{
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 16.6015px;
                    line-height: 13px;
                    text-align: center;
                    letter-spacing: 0.02em;

                    /* Pure White */
                    margin-bottom: 30px;
                    color: #FFFFFF;

                }
                i{
                    width: 52px;
                    height: 52px;
                    color: #FFFFFF;
                    margin-bottom: 50px;
                }
            }
        }
        .page2{
            .p2{
                margin-bottom: 105px;
                margin-top: 100px;
                display: flex;
                .p2_1{
                    padding-left: 50px;
                    margin-right: 100px;
                   p{
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12.2707px;
                    line-height: 71.5%;
                    /* identical to box height, or 9px */
                    
                    letter-spacing: 0.03em;
                    margin-bottom: 15px;
                    color: #FFAE00;
                   }
                   h1{
                       width: 460px;
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 128.5%;
                    /* or 31px */
                    
                    letter-spacing: 0.03em;
                    margin-bottom: 31px;
                    /* Gray 2 */
                    
                    color: #4F4F4F;
                   } 
                   h2{
                       width: 400px;
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.03em;
                    
                    /* Gray 2 */
                    margin-bottom: 35px;
                    color: #4F4F4F;
                   }
                   a{
                       text-decoration: none;
                       color: #fd79a8;
                       i{
                           padding-right: 14px;
                       }
                   }
                }
            }
            .box2{
                margin-bottom: 150px;
                background: #FFFFFF;
                height: 171px;
                width: 959px;
                margin-left: 50px;
                box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.05);
                border-radius: 3px;
                    img{
                        padding-top: 13px;
                       padding-left: 110px;
                    }
                    h1{
                        margin-top: 18px;
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16.5825px;
                        line-height: 71.5%;
                        /* or 12px */

                        text-align: center;
                        letter-spacing: 0.03em;

                        /* Gray 2 */
                        margin-bottom: 15px;
                        color: #4F4F4F;
                    }
                    p{
                        padding-left:30px;
                        width: 300px;
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 12px;
                        line-height: 14px;
                        text-align: center;
                        letter-spacing: 0.03em;

                        /* Gray 2 */
                        margin-bottom: 70px;
                        color: #4F4F4F;
                    }
                
            }
        }
        .page3{
            background-image: url('../img/Background.png');
            background-repeat: no-repeat;
            p{
                padding-top: 80px;
                padding-left: 50px;
                font-family: Poppins;
                font-style: normal;
                font-weight: bold;
                font-size: 12.2707px;
                line-height: 71.5%;
                /* identical to box height, or 9px */

                letter-spacing: 0.03em;
                margin-bottom: 15px;
                color: #FFAE00;
            }
            h1{
                font-family: Poppins;
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 110.5%;
                /* identical to box height, or 27px */

                letter-spacing: 0.03em;
                padding-left: 50px;
                /* Gray 2 */
                margin-bottom: 15px;
                color: #4F4F4F;
            }
            ul{
                margin-bottom: 50px;
                padding-left: 50px;
                display: flex;
                li{
                    list-style: none;
                    a{
                        margin-bottom: 15px;
                        padding-right: 28px;
                        text-decoration: none;
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 11.6912px;
                        line-height: 78%;
                         text-align: center;
                        letter-spacing: 0.02em;
                        color: #828282;
                    }
                }
            }
            .picsBlock{
                padding-left: 50px;
                img{
                    padding-right: 30px;
                    margin-bottom: 30px;
                }
            }
        }
        .page4{
            padding-top: 140px;
            p{
                cursor: pointer;
                font-family: Poppins;
                font-style: normal;
                font-weight: bold;
                font-size: 12.2707px;
                line-height: 71.5%;
                /* identical to box height, or 9px */

                text-align: center;
                letter-spacing: 0.03em;
                margin-bottom: 15px;
                color: #FFAE00;
            }
            h1{
                font-family: Poppins;
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 110.5%;
                /* identical to box height, or 27px */

                text-align: center;
                letter-spacing: 0.03em;

                /* Gray 2 */
                margin-bottom: 51px;
                color: #4F4F4F;
            }
            .blocks{
                display: flex;
                margin-bottom: 140px;
                .box1{
                    padding-left: 50px;
                    img{
                        margin-bottom: 25px;
                    }
                    h2{
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 10px;
                        line-height: 71.5%;
                        /* or 7px */

                        letter-spacing: 0.03em;

                        /* Accent Pink */
                        margin-bottom: 10px;
                        color: #F3849F;
                    }
                    h3{
                        width: 270px;
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 12.2707px;
                        line-height: 137%;
                        /* or 17px */

                        letter-spacing: 0.03em;

                        /* Gray 2 */
                        margin-bottom: 10px;
                        color: #4F4F4F;
                    }
                    h4{
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 10px;
                        line-height: 71.5%;
                        /* or 7px */

                        letter-spacing: 0.03em;

                        /* Gray 3 */

                        color: #828282;
                    }
                }
            }
        }
        .end{
            background: #333333;
            P{
                padding: 90px 0 13px 0;
                font-family: Poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 14.2578px;
                line-height: 71.5%;
                align-items: center;
                text-align: center;
                letter-spacing: 0.03em;

                /* Soft Sky */

                color: #F7EEFF;
            }
            i{
                padding-bottom: 75px;
                padding-left: 660px;
                color: #F7EEFF;
            }
        }
    }
}
