@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body .main .page1 {
  background-image: url("..//img/Hero Header.png");
}
body .main .page1 header {
  padding-top: 30px;
  display: flex;
}
body .main .page1 header h1 {
  width: 1000px;
  padding-right: 500px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18.0451px;
  line-height: 71.5%;
  color: #FFFFFF;
}
body .main .page1 header ul {
  display: flex;
}
body .main .page1 header ul li {
  list-style: none;
}
body .main .page1 header ul li a {
  padding-right: 18px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11.6912px;
  line-height: 78%;
  /* or 9px */
  text-align: center;
  letter-spacing: 0.02em;
  /* Pure White */
  color: #FFFFFF;
}
body .main .page1 .intro {
  padding-top: 100px;
  text-align: center;
}
body .main .page1 .intro h4 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 12.2707px;
  line-height: 71.5%;
  /* identical to box height, or 9px */
  text-align: center;
  margin-bottom: 30px;
  color: #FFE074;
}
body .main .page1 .intro h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 62.797px;
  line-height: 71.5%;
  /* or 45px */
  text-align: center;
  /* Pure White */
  margin-bottom: 30px;
  color: #FFFFFF;
}
body .main .page1 .intro p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 16.6015px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 0.02em;
  /* Pure White */
  margin-bottom: 30px;
  color: #FFFFFF;
}
body .main .page1 .intro i {
  width: 52px;
  height: 52px;
  color: #FFFFFF;
  margin-bottom: 50px;
}
body .main .page2 .p2 {
  margin-bottom: 105px;
  margin-top: 100px;
  display: flex;
}
body .main .page2 .p2 .p2_1 {
  padding-left: 50px;
  margin-right: 100px;
}
body .main .page2 .p2 .p2_1 p {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 12.2707px;
  line-height: 71.5%;
  /* identical to box height, or 9px */
  letter-spacing: 0.03em;
  margin-bottom: 15px;
  color: #FFAE00;
}
body .main .page2 .p2 .p2_1 h1 {
  width: 460px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 128.5%;
  /* or 31px */
  letter-spacing: 0.03em;
  margin-bottom: 31px;
  /* Gray 2 */
  color: #4F4F4F;
}
body .main .page2 .p2 .p2_1 h2 {
  width: 400px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  /* Gray 2 */
  margin-bottom: 35px;
  color: #4F4F4F;
}
body .main .page2 .p2 .p2_1 a {
  text-decoration: none;
  color: #fd79a8;
}
body .main .page2 .p2 .p2_1 a i {
  padding-right: 14px;
}
body .main .page2 .box2 {
  margin-bottom: 150px;
  background: #FFFFFF;
  height: 171px;
  width: 959px;
  margin-left: 50px;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}
body .main .page2 .box2 img {
  padding-top: 13px;
  padding-left: 110px;
}
body .main .page2 .box2 h1 {
  margin-top: 18px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16.5825px;
  line-height: 71.5%;
  /* or 12px */
  text-align: center;
  letter-spacing: 0.03em;
  /* Gray 2 */
  margin-bottom: 15px;
  color: #4F4F4F;
}
body .main .page2 .box2 p {
  padding-left: 30px;
  width: 300px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.03em;
  /* Gray 2 */
  margin-bottom: 70px;
  color: #4F4F4F;
}
body .main .page3 {
  background-image: url("../img/Background.png");
  background-repeat: no-repeat;
}
body .main .page3 p {
  padding-top: 80px;
  padding-left: 50px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 12.2707px;
  line-height: 71.5%;
  /* identical to box height, or 9px */
  letter-spacing: 0.03em;
  margin-bottom: 15px;
  color: #FFAE00;
}
body .main .page3 h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 110.5%;
  /* identical to box height, or 27px */
  letter-spacing: 0.03em;
  padding-left: 50px;
  /* Gray 2 */
  margin-bottom: 15px;
  color: #4F4F4F;
}
body .main .page3 ul {
  margin-bottom: 50px;
  padding-left: 50px;
  display: flex;
}
body .main .page3 ul li {
  list-style: none;
}
body .main .page3 ul li a {
  margin-bottom: 15px;
  padding-right: 28px;
  text-decoration: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 11.6912px;
  line-height: 78%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #828282;
}
body .main .page3 .picsBlock {
  padding-left: 50px;
}
body .main .page3 .picsBlock img {
  padding-right: 30px;
  margin-bottom: 30px;
}
body .main .page4 {
  padding-top: 140px;
}
body .main .page4 p {
  cursor: pointer;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 12.2707px;
  line-height: 71.5%;
  /* identical to box height, or 9px */
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 15px;
  color: #FFAE00;
}
body .main .page4 h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 110.5%;
  /* identical to box height, or 27px */
  text-align: center;
  letter-spacing: 0.03em;
  /* Gray 2 */
  margin-bottom: 51px;
  color: #4F4F4F;
}
body .main .page4 .blocks {
  display: flex;
  margin-bottom: 140px;
}
body .main .page4 .blocks .box1 {
  padding-left: 50px;
}
body .main .page4 .blocks .box1 img {
  margin-bottom: 25px;
}
body .main .page4 .blocks .box1 h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 71.5%;
  /* or 7px */
  letter-spacing: 0.03em;
  /* Accent Pink */
  margin-bottom: 10px;
  color: #F3849F;
}
body .main .page4 .blocks .box1 h3 {
  width: 270px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12.2707px;
  line-height: 137%;
  /* or 17px */
  letter-spacing: 0.03em;
  /* Gray 2 */
  margin-bottom: 10px;
  color: #4F4F4F;
}
body .main .page4 .blocks .box1 h4 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 71.5%;
  /* or 7px */
  letter-spacing: 0.03em;
  /* Gray 3 */
  color: #828282;
}
body .main .end {
  background: #333333;
}
body .main .end P {
  padding: 90px 0 13px 0;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14.2578px;
  line-height: 71.5%;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  /* Soft Sky */
  color: #F7EEFF;
}
body .main .end i {
  padding-bottom: 75px;
  padding-left: 660px;
  color: #F7EEFF;
}

/*# sourceMappingURL=style.css.map */
