@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
body{
    .main{
        .header{
            padding-top: 15px;
           display: flex;
           justify-content: space-between;
           .wave{
               i{
                   cursor: pointer;
                   padding-right: 15px;
               }
           }
        }
        .intro{
            display: flex;
            padding-top: 20px;

            img{
                padding-left: 90px;
            }
            .content{
                padding-left: 100px;
                display: flex;
                h1{
                    padding-right: 25px;
                }
                button{
                    margin-top: 15px;
                    width: 96px;
                    height: 28px;
                    background: #4094EF;
                    border-radius: 3px;
                    margin-right: 10px;
                    font-family: 'Roboto', sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 17px;
                    color: #FFFFFF;
                    outline: none;
                    border: none;
                }
                div{
                    margin-right: 12px;
                    margin-top: 15px;
                    text-align: center;
                    color: #fff;
                    background: #4094EF;
                    border-radius: 3px;
                    width: 33px;
                    height: 28px;
                }
                p{
                    cursor: pointer;
                    font-family: 'Hammersmith One', sans-serif;
                    font-size: 30px;
                    padding-top:0px;
                }
            }
            .followers{
                display: flex;
                padding-left: 100px;
                h1{
                    padding-right: 40px;
                    font-family:Verdana;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 17px;
                    line-height: 21px;
                    /* identical to box height */

                    display: flex;
                    align-items: center;

                    /* INSTAGRAM BLACK */

                    color: #262626;
                }
            }
            .text{
                padding-left: 100px;
                h1{
                    margin-top: 21px;
                    font-family: 'Roboto', sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 17px;
                    line-height: 1px;
                    display: flex;
                    align-items: center;
                    color: #262626;
                    border-color: #74b9ff;
                }
                p{
                    width: 530px;
                    font-family: Helvetica Neue;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 17px;
                    line-height: 25px;

                    /* INSTAGRAM BLACK */

                    color: #262626;
                }
            }
        }
        .story{
            margin-top: 50px;
            padding-left: 60px;
              display: flex;
            .box{
                padding-right: 20px;
                img{
                    width: 78px;
                    height: 78px;
                    margin-bottom: 15px;
                }
                h1{
                    font-family: Helvetica Neue;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 17px;
                   
                    text-align: center;
                    color: #262626;
                }
            }
        }
        .blocks{
           padding-top: 10px;
            display: flex;
            .posts{
                padding-left: 450px;
                display: flex;
                margin-right: 50px;
              i{
                    margin-right: 10px;
                }
            }
            .tagged{
                display: flex;
                i{
                    margin-right: 10px;
                }
            }
        }
        .imgs{
            img{
            
                margin-bottom: 25px;
            }
        }
    }
}