@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");
body .main .header {
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .main .header .wave i {
  cursor: pointer;
  padding-right: 15px;
}

body .main .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
}

body .main .intro img {
  padding-left: 90px;
}

body .main .intro .content {
  padding-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .main .intro .content h1 {
  padding-right: 25px;
}

body .main .intro .content button {
  margin-top: 15px;
  width: 96px;
  height: 28px;
  background: #4094EF;
  border-radius: 3px;
  margin-right: 10px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  outline: none;
  border: none;
}

body .main .intro .content div {
  margin-right: 12px;
  margin-top: 15px;
  text-align: center;
  color: #fff;
  background: #4094EF;
  border-radius: 3px;
  width: 33px;
  height: 28px;
}

body .main .intro .content p {
  cursor: pointer;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 30px;
  padding-top: 0px;
}

body .main .intro .followers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 100px;
}

body .main .intro .followers h1 {
  padding-right: 40px;
  font-family: Verdana;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* INSTAGRAM BLACK */
  color: #262626;
}

body .main .intro .text {
  padding-left: 100px;
}

body .main .intro .text h1 {
  margin-top: 21px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #262626;
  border-color: #74b9ff;
}

body .main .intro .text p {
  width: 530px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 25px;
  /* INSTAGRAM BLACK */
  color: #262626;
}

body .main .story {
  margin-top: 50px;
  padding-left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .main .story .box {
  padding-right: 20px;
}

body .main .story .box img {
  width: 78px;
  height: 78px;
  margin-bottom: 15px;
}

body .main .story .box h1 {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #262626;
}

body .main .blocks {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .main .blocks .posts {
  padding-left: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 50px;
}

body .main .blocks .posts i {
  margin-right: 10px;
}

body .main .blocks .tagged {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .main .blocks .tagged i {
  margin-right: 10px;
}

body .main .imgs img {
  margin-bottom: 25px;
}
/*# sourceMappingURL=style.css.map */