.main{
    margin: auto;
    background-color: aquamarine;
    .topbar{
        margin-bottom: 30px;
        margin: auto;
        width: 1440px;
        height: 82px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(99, 99, 99, 0.1);
        display: flex;
        .logo{
            margin-left: 100px;
            margin-top: 20px;
            margin-right: 9px;
        }
        .hobby{
            margin-right: 670px;
            margin-top: 30px;
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            text-transform: uppercase;

            color: #6277D7;
        }
        ul{
            margin-top: 32px;
            display: flex;
            list-style: none;
            li{
                padding-right: 10px;
                a{
                    margin-right: 30px;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 21px;
                   color: #6277D7;
                    text-decoration: none;
                }
            }
        }
    }
    .centre{
        margin: auto;
        margin-top: 25px;
        padding-bottom: 350px;
        .middle{
            margin: auto;
            width: 1200px;
            height: 600px;
            background: #FFFFFF;
            border-radius: 10px;
            .left-side{
                h1{
                    margin-bottom: 10px;
                    margin-top: 50px;
                    font-family: Segoe UI;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 32px;
                    /* identical to box height */


                    color: #546C83;
                }
                p{
                    margin-bottom: 30px;
                    width: 350px;
                    font-family: Segoe UI;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 19px;

                    color: #707178;
                }
                h3{
                    margin-bottom: 5px;
                    font-family: Circular Std;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 17px;
                    line-height: 22px;
                    /* identical to box height, or 129% */

                    letter-spacing: -0.41px;

                    /* Fonts / Second text */

                    color: #546C83;
                }
                input{
                    margin-bottom: 35px;
                    width: 400px;
                    border: 1px solid #E2E7EB;
                    box-sizing: border-box;
                    border-radius: 5px;
                }
                h4{
                    font-family: Segoe UI;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                   color: #546C83;
                }
               .form{
                   width: 200px;
                // .action{
                //     line-height: 1px;
                //     padding-bottom: 1px;
                //     input{
                //         margin-right: 1px;
                //         padding-right: 2px;
                //     }
                // }
               }
            }
            .right-side{
                img{
                    width: 400px;
                    margin-top: 90px;
                    margin-left:100px ;
                }
            }
        }
    }
}