.main {
  margin: auto;
  background-color: aquamarine;
}

.main .topbar {
  margin-bottom: 30px;
  margin: auto;
  width: 1440px;
  height: 82px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(99, 99, 99, 0.1);
          box-shadow: 0px 4px 4px rgba(99, 99, 99, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .topbar .logo {
  margin-left: 100px;
  margin-top: 20px;
  margin-right: 9px;
}

.main .topbar .hobby {
  margin-right: 670px;
  margin-top: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #6277D7;
}

.main .topbar ul {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.main .topbar ul li {
  padding-right: 10px;
}

.main .topbar ul li a {
  margin-right: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #6277D7;
  text-decoration: none;
}

.main .centre {
  margin: auto;
  margin-top: 25px;
  padding-bottom: 350px;
}

.main .centre .middle {
  margin: auto;
  width: 1200px;
  height: 600px;
  background: #FFFFFF;
  border-radius: 10px;
}

.main .centre .middle .left-side h1 {
  margin-bottom: 10px;
  margin-top: 50px;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height */
  color: #546C83;
}

.main .centre .middle .left-side p {
  margin-bottom: 30px;
  width: 350px;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #707178;
}

.main .centre .middle .left-side h3 {
  margin-bottom: 5px;
  font-family: Circular Std;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
  /* identical to box height, or 129% */
  letter-spacing: -0.41px;
  /* Fonts / Second text */
  color: #546C83;
}

.main .centre .middle .left-side input {
  margin-bottom: 35px;
  width: 400px;
  border: 1px solid #E2E7EB;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.main .centre .middle .left-side h4 {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #546C83;
}

.main .centre .middle .left-side .form {
  width: 200px;
}

.main .centre .middle .left-side .form .action {
  line-height: 1px;
  padding-bottom: 1px;
}

.main .centre .middle .left-side .form .action input {
  margin-right: 1px;
  padding-right: 2px;
}

.main .centre .middle .right-side img {
  width: 400px;
  margin-top: 90px;
  margin-left: 100px;
}
/*# sourceMappingURL=style.css.map */