body {
  height: 625px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #57bd82;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  position: relative;
}

body .field-name,
body .field-email,
body .field-password,
body .field-finished {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  height: 50px;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body .field-name i,
body .field-email i,
body .field-password i,
body .field-finished i {
  padding-top: 26px;
  padding: 16px 10px 0 10px;
  cursor: pointer;
}

body .field-name input,
body .field-email input,
body .field-password input {
  border: none;
  background: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  outline: none;
}

body div.innactive {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

body div.active {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(10deg);
            transform: translate(-50%, -50%) rotate(10deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(10deg);
            transform: translate(-50%, -50%) rotate(10deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
}
/*# sourceMappingURL=style.css.map */