body{
    height: 625px;
    display: flex;
    background-color: rgb(87, 189,130);
    transition:  0.5s ease;
    position: relative;

    .field-name,
    .field-email,
    .field-password,
    .field-finished{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        height: 50px;
        width: 400px;
        display: flex;
        justify-content: space-between;
        text-align: center;
        border-radius: 5px;
        transition: all 0.5s ease ;
    }

    .field-name i,
    .field-email i,
    .field-password i,
    .field-finished i{
        padding-top: 26px;
        padding: 16px 10px 0 10px;
        cursor: pointer; 

    }
    .field-name input,
    .field-email input,
    .field-password input{
        border: none;
        background:none;
        flex: 1;
        outline: none;
    }


     div.innactive{
         opacity: 0;
         pointer-events: none;
         transform: translate(-50%, 50%,);
     }
     div.active{
         opacity: 1;
         pointer-events: all;
         transform: translate(-50%, -50%);
     }

     @keyframes shake {
        0%{
            transform: translate(-50%, -50%) rotate(0deg);
        }
        50%{
            transform: translate(-50%, -50%) rotate(10deg);
        }
        100%{
            transform: translate(-50%, -50%) rotate(0deg);
        }
     }

}