.main {
  overflow: hidden;
  background: #F4F4F4;
}

.main .container {
  width: 1140px;
  margin: 0 auto;
}

.main .container .page1 header {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .container .page1 .intro {
  padding-bottom: 100px;
}

.main .container .page1 .intro .textForm h1 {
  margin-top: 130px;
  font-family: Fira Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -1px;
  color: #151515;
  margin-bottom: 30px;
}

.main .container .page1 .intro .textForm p {
  width: 470px;
  font-family: Fira Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  /* Black */
  color: #222222;
  opacity: 0.7;
  margin-bottom: 56px;
}

.main .container .page1 .intro .textForm button {
  outline: none;
  width: 189px;
  height: 50px;
  background: #4737FF;
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
  /* White */
  color: #FFFFFF;
}

.main .container .page1 .intro img {
  margin: 0;
  width: 740px;
  height: 700px;
  -webkit-filter: drop-shadow(-20px 60px 220px rgba(0, 0, 0, 0.44));
          filter: drop-shadow(-20px 60px 220px rgba(0, 0, 0, 0.44));
}

.main .container .page2 {
  padding-bottom: 145px;
}

.main .container .page2 .textForm h1 {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  /* or 125% */
  letter-spacing: -1px;
  /* Black */
  margin-bottom: 32px;
  color: #222222;
}

.main .container .page2 .textForm p {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #222222;
  opacity: 0.7;
}

.main .container .page2 .textForm .personal {
  margin-top: 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .container .page2 .textForm .personal .textEdit {
  margin-left: 10px;
}

.main .container .page2 .textForm .personal .textEdit h5 {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  /* identical to box height, or 145% */
  /* Black */
  margin-bottom: 0px;
  color: #222222;
}

.main .container .page2 .textForm .personal .textEdit p {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  /* Black */
  color: #222222;
  opacity: 0.7;
}

.main .container .page3 p {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 4px;
  text-transform: uppercase;
  /* Black */
  color: #222222;
  opacity: 0.7;
}

.main .container .page3 .contentList {
  padding-bottom: 90px;
}

.main .container .page3 .contentList h1 {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  /* or 125% */
  letter-spacing: -1px;
  /* Black */
  color: #222222;
}

.main .container .page3 .contentList .hpp {
  margin-left: 100px;
}

.main .container .page3 .contentList .hey {
  margin-left: 80px;
}

.main .container .page3 .contentList h5 {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 40px;
  /* identical to box height, or 156% */
  /* Black */
  color: #222222;
  opacity: 0.5;
}

.main .container .page3 .imgList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .container .page3 .imgList img {
  margin-right: 15px;
}

.main .container .page3 .buttonList {
  margin-top: 50px;
}

.main .page4 {
  margin-top: 90px;
}

.main .page4 .page4_1 {
  position: relative;
}

.main .page4 .page4_2 {
  position: absolute;
  left: 200px;
  z-index: 2;
}

.main .page4 .textForm h1 {
  width: 410px;
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  /* or 125% */
  letter-spacing: -1px;
  /* Black */
  color: #222222;
}

.main .page4 .textForm p {
  width: 410px;
  font-family: Fira Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  /* Black */
  color: #222222;
  opacity: 0.7;
}

.main .page4 .btn_1 {
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.main .page4 .btn_1 h1 {
  margin-top: 15px;
  margin-left: 30px;
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #000000;
}

.main .page4 .btn_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .page4 .btn_2 h1 {
  margin-left: 30px;
  margin-top: 15px;
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #000000;
}

.main .page5 p {
  margin-top: 210px;
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 4px;
  text-transform: uppercase;
  /* Black */
  color: #222222;
  opacity: 0.7;
}

.main .page5 .discover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .page5 .discover ul {
  margin-left: 175px;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .page5 .discover ul li {
  list-style: none;
}

.main .page5 .discover ul li a {
  padding-right: 35px;
  text-decoration: none;
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 4px;
  text-transform: uppercase;
  /* Black */
  color: #222222;
  opacity: 0.3;
}

.main .page5 .imgList {
  margin-top: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .page5 .imgList img {
  width: 350px;
  height: 450px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.main .page5 .buttonList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .page5 .buttonList p {
  margin-right: 120px;
  margin-top: 0px;
  width: 700px;
  font-family: Fira Sans;
  font-size: 15px;
  line-height: 20px;
  text-transform: none;
  color: #222222;
  opacity: 0.7;
}

.main .page5 .buttonList button {
  text-transform: uppercase;
  color: #FFFFFF;
  background: #4737FF;
  border: none;
  outline: none;
  width: 200px;
  height: 50px;
}

.main .page6 {
  background: #F4F4F4;
  margin-top: 200px;
}

.main .page6 .textForm p {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #222222;
  opacity: 0.7;
  margin-bottom: 75px;
}

.main .page6 .textForm h1 {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: -1px;
  margin-bottom: 121px;
  color: #222222;
}

.main .page6 .textForm h4 {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 13px;
  color: #222222;
}

.main .page6 .textForm h5 {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #222222;
  margin-bottom: 90px;
  opacity: 0.7;
}

.main .page6 .textForm .icons-bar {
  font-size: 30px;
  color: #C4C4C4;
}

.main .page6 .textForm .icons-bar .fa-chevron-circle-left {
  margin-right: 15px;
}

.main .page6 .ImgForm img {
  margin-left: 0px;
}

.main .page7 {
  margin-top: 200px;
}

.main .page7 .clients {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  /* or 125% */
  letter-spacing: -1px;
  /* Black */
  color: #222222;
}

.main .page7 .worked p {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 4px;
  text-transform: uppercase;
  /* Black */
  color: #222222;
}

.main .page7 .worked h1 {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  width: 445px;
  color: #222222;
  opacity: 0.7;
}

.main .page7 .logo-Bar img {
  margin-right: 140px;
  margin-top: 100px;
  margin-bottom: 130px;
}

.main .page8 {
  background-color: #515151;
}

.main .page8 .topNav {
  padding-bottom: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 65px;
}

.main .page8 .topNav ul {
  margin-left: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .page8 .topNav ul li {
  list-style: none;
}

.main .page8 .topNav ul li a {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  margin-right: 50px;
  color: #FFFFFF;
  text-decoration: none;
}

.main .page8 .topNav input {
  margin-left: 30px;
  height: 10%;
  padding-left: 10px;
  margin-right: 15px;
}

.main .page8 .topNav button {
  background-color: #C6B393;
  width: 8%;
  height: 15%;
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  padding-left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
  border: none;
  outline: none;
  color: #FFFFFF;
}

.main .page8 hr {
  margin-left: 110px;
  opacity: 0.2;
  border: 1px solid #FFFFFF;
  width: 76%;
}

.main .page8 .buttonNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-left: 80px;
}

.main .page8 .buttonNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .page8 .buttonNav ul li {
  list-style: none;
}

.main .page8 .buttonNav ul li a {
  margin-right: 42px;
  text-decoration: none;
  font-family: Fira Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.4;
}

.main .page8 .buttonNav .icons-bar {
  margin-left: 530px;
  color: #969696;
  cursor: pointer;
}

.main .page8 .buttonNav .icons-bar .fab {
  margin-right: 15px;
}
/*# sourceMappingURL=style.css.map */