.main{
    overflow: hidden;
    background: #F4F4F4;
    .container{
        width: 1140px;
        margin: 0 auto;
        .page1{
            header{
                padding-top: 50px;
                display: flex;
                justify-content: space-between;
            }
            .intro{
                padding-bottom: 100px;
                .textForm{
                    h1{
                        margin-top: 130px;
                        font-family: Fira Sans;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 60px;
                        line-height: 70px;
                        letter-spacing: -1px;
                        color: #151515;
                        margin-bottom: 30px;
                    }
                    p{
                        width: 470px;
                        font-family: Fira Sans;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 28px;
                        /* or 156% */
                        
                        
                        /* Black */
                        
                        color: #222222;
                        opacity: 0.7;
                        margin-bottom: 56px;
                    }
                    button{
                        outline: none;
                        width: 189px;
                        height: 50px;
                        background: #4737FF;
                        font-family: Fira Sans;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 24px;
                        /* or 171% */

                        text-align: center;
                        letter-spacing: 4px;
                        text-transform: uppercase;

                        /* White */

                        color: #FFFFFF;
                    }

                }
                img{
                    margin: 0;
                    width: 740px;
                    height: 700px;
                    filter: drop-shadow(-20px 60px 220px rgba(0, 0, 0, 0.44));
                }
            }
        }
        .page2{
            padding-bottom: 145px;
            .textForm{
                h1{
                    font-family: Fira Sans;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 40px;
                    line-height: 50px;
                    /* or 125% */

                    letter-spacing: -1px;

                    /* Black */
                    margin-bottom: 32px;
                    color: #222222;
                }
                p{
                    font-family: Fira Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 28px;
                    
                    color: #222222;
                    opacity: 0.7;
                }
                .personal{
                    margin-top: 135px;
                    display: flex;
                    .textEdit{
                        margin-left: 10px;
                        h5{
                            font-family: Fira Sans;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 22px;
                            line-height: 32px;
                            /* identical to box height, or 145% */


                            /* Black */
                            margin-bottom: 0px;
                            color: #222222;
                        }
                        p{
                            font-family: Fira Sans;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 18px;
                            line-height: 28px;
                            /* or 156% */


                            /* Black */

                            color: #222222;
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
        .page3{
            p{
                font-family: Fira Sans;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
                /* or 171% */

                letter-spacing: 4px;
                text-transform: uppercase;

                /* Black */

                color: #222222;
                opacity: 0.7;
            }
            .contentList{
                padding-bottom: 90px;
                h1{
                    font-family: Fira Sans;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 40px;
                    line-height: 50px;
                    /* or 125% */
    
                    letter-spacing: -1px;
    
                    /* Black */
    
                    color: #222222;
                }
                .hpp{
                    margin-left: 100px;
                }
                .hey{
                  margin-left: 80px;  
                }
                h5{
                    font-family: Fira Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 40px;
                    /* identical to box height, or 156% */
    
    
                    /* Black */
    
                    color: #222222;
                    opacity: 0.5;
                }
            }
            .imgList{
                display: flex;
                img{
                    margin-right: 15px;
                }
            }
            .buttonList{
                margin-top: 50px;
            }
        }
    }
    .page4{
        margin-top: 90px;
        .page4_1{
            position: relative;
        }
        .page4_2{
            position: absolute;
            left: 200px;
            z-index: 2;
        }
        .textForm{
            h1{
                width: 410px;
                font-family: Fira Sans;
                font-style: normal;
                font-weight: 600;
                font-size: 40px;
                line-height: 50px;
                /* or 125% */
                
                letter-spacing: -1px;
                
                /* Black */
                
                color: #222222;  
            }
            p{
                width: 410px;
                font-family: Fira Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 28px;
                /* or 156% */
                
                
                /* Black */
                
                color: #222222;
                opacity: 0.7; 
            }
        }
        .btn_1{
            margin-top: 90px;
            display: flex;
            margin-bottom: 30px;
            h1{
                margin-top: 15px;
                margin-left: 30px;
                font-family: Fira Sans;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
                /* or 171% */

                letter-spacing: 4px;
                text-transform: uppercase;

                color: #000000;
            }
        }
        .btn_2{
            display: flex;
            h1{
                margin-left:30px;
                margin-top: 15px;
                font-family: Fira Sans;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
                /* or 171% */

                letter-spacing: 4px;
                text-transform: uppercase;

                color: #000000;
            }
        }
    }
    .page5{
        p{
            margin-top: 210px;
            font-family: Fira Sans;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            /* or 171% */

            letter-spacing: 4px;
            text-transform: uppercase;

            /* Black */

            color: #222222;
            opacity: 0.7;
        }
        .discover{
            display: flex;
            
            ul{
                margin-left: 175px;
                margin-top: 15px;
                display: flex;
                li{
                    list-style: none;
                    a{
                        padding-right: 35px;
                        text-decoration: none;
                        font-family: Fira Sans;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 24px;
                        /* or 171% */

                        letter-spacing: 4px;
                        text-transform: uppercase;

                        /* Black */

                        color: #222222;
                        opacity: 0.3;
                    }
                }
            }
        }
        .imgList{
            margin-top: 110px;
            display: flex;
            flex-wrap: wrap;
            img{
                width: 350px;
                height: 450px;
                padding-right: 30px;
                padding-bottom: 30px;
            }
        }
        .buttonList{
            display: flex;
            p{
                margin-right: 120px;
                margin-top: 0px;
                width: 700px;
                font-family: Fira Sans;
                font-size: 15px;
                line-height: 20px;
                 text-transform: none;
                color: #222222;
                opacity: 0.7;
            }
            button{
                text-transform: uppercase;
                color: #FFFFFF;
                background: #4737FF;
                border: none;
                outline: none;
                width: 200px;
                height: 50px;
            }
        }
    }
    .page6{
        background: #F4F4F4;
        margin-top: 200px;
        .textForm{
            p{
                font-family: Fira Sans;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
        
                letter-spacing: 4px;
                text-transform: uppercase;

                color: #222222;
                opacity: 0.7;
                margin-bottom: 75px;
            }
            h1{
                font-family: Fira Sans;
                font-style: normal;
                font-weight: 600;
                font-size: 40px;
                line-height: 50px;

                letter-spacing: -1px;
                margin-bottom: 121px ;
                color: #222222;
            }
            h4{
                font-family: Fira Sans;
                font-style: normal;
                font-weight: 600;
                font-size: 22px;
                line-height: 32px;
               
                margin-bottom: 13px;
                color: #222222;
            }
            h5{
                font-family: Fira Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 22px;
               
                color: #222222;
                margin-bottom: 90px;
                opacity: 0.7;
            }
            .icons-bar{
                font-size: 30px;
                color: #C4C4C4;
                .fa-chevron-circle-left{
                    margin-right: 15px;
                }
            }
        }
        .ImgForm{
            img{
                margin-left: 0px;
            }
        }
    }
    .page7{
        margin-top: 200px;
        .clients{
            font-family: Fira Sans;
            font-style: normal;
            font-weight: 600;
            font-size: 40px;
            line-height: 50px;
            /* or 125% */

            letter-spacing: -1px;

            /* Black */

            color: #222222;
        }
        .worked{
            p{
                font-family: Fira Sans;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 24px;
                /* or 171% */

                letter-spacing: 4px;
                text-transform: uppercase;

                /* Black */

                color: #222222;
            }
            h1{
                font-family: Fira Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 26px;
               width: 445px;

                color: #222222;

                opacity: 0.7;
            }
        }
        .logo-Bar{
            img{
                margin-right: 140px;
                margin-top: 100px; 
                margin-bottom: 130px;
            }
        }
    }
    .page8{
        background-color: #515151;
        .topNav{
            padding-bottom: 38px;
            display: flex;
            padding-top: 65px;
            ul{
                margin-left: 220px;
                display: flex;
                li{
                    list-style: none;
                    a{
                        font-family: Fira Sans;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 28px;
                        
                        text-align: center;

                        color: #FFFFFF;
                        margin-right: 50px;
                        color: #FFFFFF;
                        text-decoration: none;
                    }
                }
            }
            input{
                margin-left: 30px;
                height: 10%;
                padding-left: 10px;
                margin-right: 15px;
            }
            button{
                background-color: #C6B393;
                width: 8%;
                height: 15%;
                font-family: Fira Sans;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
                /* or 171% */
                padding-left: 25px;
                display: flex;
                align-items: center;
                text-align: center;
                letter-spacing: 4px;
                text-transform: uppercase;

                border: none;
                outline: none;
                color: #FFFFFF;
            }
        }
        hr{
            margin-left: 110px;
            opacity: 0.2;
            border: 1px solid #FFFFFF;
            width: 76%;
        }
        .buttonNav{
            display: flex;
            padding-top: 20px;
            padding-bottom: 30px;
            margin-left: 80px;
            ul{
                display: flex;
                li{
                    list-style: none;
                    a{
                        
                        margin-right: 42px;
                        text-decoration: none;
                        font-family: Fira Sans;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 28px;
                        /* or 156% */


                        color: #FFFFFF;

                        mix-blend-mode: normal;
                        opacity: 0.4;
                    }
                }
            }
            .icons-bar{
                margin-left: 530px;
                color: #969696;
                cursor: pointer;
               .fab{
                   margin-right: 15px;
               }
            }
        }
    }
}