.main{
    h1{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 52px;
        line-height: 61px;
        color: #B0B0B0;
        margin-bottom: 22px;
    }
    strong{
        color: black;
    }
    img{
        border-radius: 20px;
        width: 400px;
        margin-bottom: 25px;
    }
    p{
        width: 604px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
        color: #4D4D4D;
    }
}