@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body{
 .main{
   .page1{
     header{
       display: flex;
        img{
          margin-top: 30px;
          width: 120px;
          height: 40px;
        }
       ul{
         margin-top: 40px;
         margin-left: 150px;
         display: flex;
         li{
           list-style: none;
           a{
             padding-right: 30px;
             text-decoration: none;
             font-family: 'Roboto', sans-serif;
             font-size: 16px;
             line-height: 40px;
              display: flex;
             align-items: center;
             text-align: center;
             color: #263640;
           }
         }
       }
       button{
         margin-top: 40px;
         border: none;
         margin-left: 200px;
         width: 146px;
         height: 40px;
         background: #FF9900;
         font-family: DINPro;
         font-style: normal;
         font-weight: bold;
         font-size: 16px;
         line-height: 40px;
         /* identical to box height, or 250% */

         display: flex;
         align-items: center;
         text-align: right;
         padding-left: 24px;
         color: #FFFFFF;
         i{
           padding-left: 12px;
         }
       }
     }
     .intro{
       display: flex;
       margin-top: 96px;
       .p1{
         p{
           padding-top: 100px;
           font-family: DINPro;
           font-size: 14px;
           line-height: 20px;
           /* identical to box height, or 143% */
           margin-bottom: 15px;
           display: flex;
           align-items: center;
           text-align: center;
           letter-spacing: 0.1em;
           text-transform: uppercase;
           color: #929A9F;
         }
         h1{
           width: 450px;
           font-family: DINPro;
           font-size: 32px;
           line-height: 45px;
           /* or 141% */

           display: flex;
           align-items: center;

           /* Dunkel Blau */
           margin-bottom: 15px;
           color: #263640;
         }
         h2{
           width: 410px;
           font-family: DINPro;
           font-style: normal;
           font-weight: 500;
           font-size: 16px;
           line-height: 28px;
           /* or 175% */
           margin-bottom: 35px;
           display: flex;
           align-items: center;
           color: #929A9F;
         }
         input{
           font-family: DINPro;
           font-style: normal;
           font-weight: bold;
           font-size: 16px;
           line-height: 40px;
           /* identical to box height, or 250% */

           display: flex;
           align-items: center;
           border: none;
           /* Weiß */
           background: #FF9900;
           color: #FFFFFF;
         }
       }
      .p2{
        img{
          padding-left: 50px;
          border-radius: 45px;
        }
      }
     }
     .middle{
       background-image: url("/imgs/background.png");
       p{
         font-family: DINPro;
         font-size: 24px;
         line-height: 44px;
         /* identical to box height, or 183% */

         display: flex;
         align-items: center;

         /* Dunkel Blau */
          margin-bottom: 16px;
         color: #263640;
       }
       h1{
         width: 440px;
         font-family: DINPro;
         font-size: 16px;
         line-height: 28px;
         /* or 175% */

         display: flex;
         align-items: center;

         /* Light Blue */
          margin-bottom: 80px;
         color: #929A9F;
       }
       .blocks{
         margin-bottom: 120px;
         display: flex;
         .boxs{

           h1{
             padding-left: 40px;
             width: 300px;
             font-family: DINPro;
             font-style: normal;
             font-weight: 500;
             font-size: 20px;
             line-height: 30px;
             /* or 150% */

             display: flex;
             align-items: center;

             /* Dunkel Blau */
            margin-bottom: 20px;
             color: #263640;
           }
           p{
             padding-left: 40px;
             width: 300px;
             font-family: DINPro;
             font-size: 16px;
             line-height: 28px;
              color: #929A9F;
             margin-bottom: 20px;
           }
           a{
             text-decoration: none;
             padding-left: 40px;
             font-family: DINPro;
             font-style: normal;
             font-weight: 500;
             font-size: 16px;
             line-height: 28px;
             /* identical to box height, or 175% */

             display: flex;
             align-items: center;

             /* Orange */

             color: #FF9900;
           }
         }
       }
     }
   }
   .page2{
     .Block_2{
       background: #263640;
       /* Image Shadow */

       box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2), -50px 100px 0px #F5F8FA;
        width: 900px;
       height: 500px;
       margin-bottom: 100px;
       .little{
         display: flex;
         width: 444px;
         padding-left: 50px;
         padding-top: 40px;
         .little1{
           p{
             font-family: DINPro;
             font-size: 14px;
             line-height: 20px;
             /* identical to box height, or 143% */
             margin-bottom: 15px;
             display: flex;
             align-items: center;
             text-align: center;
             letter-spacing: 0.1em;
             text-transform: uppercase;

             /* Light Blue */

             color: #929A9F;
           }
           h1{
             width: 400px;

             font-family: DINPro;
             font-size: 32px;
             line-height: 44px;
             /* or 137% */
             margin-bottom: 15px;
             display: flex;
             align-items: center;

             /* Weiß */

             color: #FFFFFF;
           }
           h2{
             width: 400px;
             font-family: DINPro;
             font-size: 16px;
             line-height: 26px;
             /* or 162% */

             display: flex;
             align-items: center;
             margin-bottom: 15px;
             /* Weiß */

             color: #FFFFFF;
           }
           a{
             font-family: DINPro;
             font-style: normal;
             font-weight: 500;
             font-size: 16px;
             line-height: 28px;
             /* identical to box height, or 175% */

             display: flex;
             align-items: center;

             /* Weiß */

             color: #FFFFFF;
           }
           hr{
             border: 1px solid #FFFFFF;
           }
         }
         .little2{
            img{
              padding-left: 100px;
              height: 660px;
            }
         }
       }
     }
     .textBlog{
       margin-top: 230px;
       h1{
         font-family: DINPro;
         font-size: 32px;
         line-height: 45px;
         /* identical to box height, or 141% */

         display: flex;
         align-items: center;

         /* Dunkel Blau */
        margin-bottom: 16px;
         color: #263640;
       }
       .introFrom-1{
         margin-bottom: 80px;
         display: flex;
         p{
           width: 450px;
           font-family: DINPro;
           font-size: 16px;
           line-height: 28px;
           /* or 175% */

           display: flex;
           align-items: center;

           /* Light Blue */

           color: #929A9F;
         }
         button{
           margin-top: 50px;
          margin-left: 430px;
           outline: none;
           border: none;
           width: 130px;
           height: 40px;
           background: #FF9900;
           font-family: DINPro;
           font-style: normal;
           font-weight: bold;
           font-size: 16px;
           line-height: 40px;
           /* identical to box height, or 250% */

           display: flex;
           align-items: center;
           color: #FFFFFF;
         }
       }
       h5{
         font-family: DINPro;
         font-size: 14px;
         line-height: 20px;
         /* identical to box height, or 143% */

         display: flex;
         align-items: center;
         text-align: center;
         letter-spacing: 0.1em;
         text-transform: uppercase;

         /* Light Blue */
         margin-bottom: 30px;
         color: #929A9F;
       }
       .introFrom-2{
         display: flex;
         .form-list{
           margin-bottom: 150px;
           padding-right: 60px;
           h1{
             width: 300px;
             font-family: DINPro;
             font-style: normal;
             font-weight: 500;
             font-size: 20px;
             line-height: 30px;
             /* or 150% */

             display: flex;
             align-items: center;

             /* Dunkel Blau */
            margin-bottom: 20px;
             color: #263640;
           }
           p{
             width: 300px;
             font-family: DINPro;
             font-size: 16px;
             line-height: 18px;
             text-align: justify;
             margin-bottom: 20px;
             color: #929A9F;

           }
           a{
             text-decoration: none;
             font-family: DINPro;
             font-style: normal;
             font-weight: 500;
             font-size: 16px;
             line-height: 28px;
             /* identical to box height, or 175% */

             display: flex;
             align-items: center;

             /* Orange */

             color: #FF9900;
           }
         }
       }
     }
   }
   .page3{
     img{
       width: 700px;
       float: right;
     }
     .page3-1{
       background: #F5F8FA;
       margin-bottom: 70px;
       .page3-2{
         padding-top: 110px;
         padding-bottom: 116px;
          p{
            padding-left: 35px;
            font-family: DINPro;
            font-size: 14px;
            line-height: 20px;
            /* identical to box height, or 143% */

            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.1em;
            text-transform: uppercase;

            /* Light Blue */
            margin-bottom: 16px;
            color: #929A9F;
          }
         h1{
           padding-left: 35px;
           font-family: DINPro;
           font-size: 32px;
           line-height: 44px;
           /* identical to box height, or 137% */

           display: flex;
           align-items: center;

           /* Dunkel Blau */
           margin-bottom: 24px;
           color: #263640;
         }
         h2{
           padding-left: 35px;
           width: 300px;
           font-family: DINPro;
           font-size: 16px;
           line-height: 28px;
           color: #929A9F;
           margin-bottom: 30px;
         }
         button{
           outline: none;
           border: none;
           margin-left: 35px;
           background: #FF9900;
           font-family: DINPro;
           font-style: normal;
           font-weight: bold;
           font-size: 16px;
           line-height: 40px;
           /* identical to box height, or 250% */

           display: flex;
           align-items: center;

           color: #FFFFFF;
         }
       }
     }
   }
   .page4{
     background: #263640;
     img{
       padding-top: 60px;
     }
     p{
       padding-top: 60px;
       font-family: DINPro;
       font-size: 14px;
       line-height: 8px;
       /* identical to box height */

       letter-spacing: 1.75px;
       text-transform: uppercase;

       color: #FFFFFF;
     }
     h1{
       padding-top: 8px;
       width: 160px;
       font-family: 'Roboto', sans-serif;
       font-size: 16px;
       line-height: 26px;
       /* or 162% */


       color: #FFFFFF;
     }
     .page4-list{
       padding-bottom: 50px;
       display: flex;
       .page4-1{
         padding-right: 580px;
       }
       .page4-2{
         padding-right:70px ;
       }
     }
     hr{
       border: 1px solid #FFFFFF;
     }
     h5{
       padding-top: 40px;
       font-family: 'Roboto', sans-serif;
       font-size: 14px;
       line-height: 18px;
       /* identical to box height */

      padding-bottom: 30px;
       color: #FFFFFF;
     }
   }
 }
}