@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.main{
    .page1{
        header{
            margin-top: 30px;
            display: flex;
            img{
                margin-right: 12px;
            }
            h1{
                margin-top: 10px;
                margin-right: 20px;
                font-family: 'Roboto', sans-serif;
                font-size: 20px;
                line-height: 20px;
                letter-spacing: -0.625px;
    
                color: #353536;
            }
            nav{
                margin-top: 9px;
                display: flex;
                a{
                    font-family: 'Roboto', sans-serif;
                    font-size: 15px;
                    line-height: 15px;
                    /* identical to box height */

                    letter-spacing: -0.46875px;

                    color: #353536;
                    text-decoration: none;
                    margin-right: 10px;
                }
                .right-side {
                    margin-left: 400px;
                }
                button{
                    border: 1px solid #F362A9;
                    box-sizing: border-box;
                    border-radius: 4px;
                    font-family: Maax;
                    font-size: 18px;
                    line-height: 25px;
                    /* identical to box height */
                    background-color: transparent;
                    text-align: center;
                    letter-spacing: -0.46875px;

                    color: #353536;

                }
            }
        }
        .one{
           h1{
               width: 900px;
               margin-left: 100px;
            margin-top: 60px;
            font-family: Maax;
            font-size: 60px;
            line-height: 66px;
            text-align: center;
            letter-spacing: -1.875px;
            color: #353536;

           }
           .selection{
            //    border: 1px solid black;
            //    width: 800px;
               height: 40px;
               display: flex;
               margin-left: 180px;
               margin-top: 32px;
               margin-bottom: 20px;
               .country{
                 select{
                    //  padding-left: 1px;
                     width: 150px;
                    height: 50px;
                 }
                }
                 .area{
                     input{
                         width: 150px;
                         height: 50px;
                    }              
                }
                .looking{
                    select{
                        width: 150px;
                        height: 50px;
                    }
                }
                .budget{
                    input{
                        width: 130px;
                        height: 50px;
                    }
                }
                button{
                    background: #665BA1;
                    color: #fff;
                    width: 150px;
                    height: 50px;
                }
           }
        }
    }
    .page2{
        h1{
            margin-top: 80px;
            margin-bottom: 32px;
            font-family: 'Roboto', sans-serif;
            font-size: 36px;
            line-height: 66px;
            /* identical to box height, or 183% */

            text-align: center;
            letter-spacing: -1.125px;

            color: #353536;
        }
        .picsBlock{
            margin-bottom: 100px;
            margin-left: 20px;
            .box1{
               margin-bottom: 12px;
                display: flex;
                img{
                    border-radius: 10px;
                    padding-right: 10px;
                }
            }
            .box2{
                display: flex;
                img{
                    border-radius: 10px;
                    padding-right: 10px;
                }
            }
        }
        h2{
            font-family: 'Roboto', sans-serif;
            font-size: 36px;
            line-height: 66px;
            text-align: center;
            letter-spacing: -1.125px;
            color: #353536;
        }
        .blocks{
            .left-side{
                img{
                    width: 700px;
                }
            }
            .right-side{
                h1{
                    margin-right: 98px;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 24px;
                    line-height: 28px;
                    color: #353536;
                    margin-bottom: 14px;
                }
                p{
                    margin-left: 130px;
                    width: 300px;
                    font-family: SF Pro Text;
                    font-size: 16px;
                    line-height: 24px;
                    color: #353536;

                    mix-blend-mode: normal;
                    opacity: 0.5;
                    margin-bottom: 15px;
                }
                a{
                    margin-left: 130px;
                }
                hr{
                    margin-left: 130px;
                    width: 250px;
                    margin-bottom: 60px;
                }
                img{
                    border-width:5px;  
                    border-style:dashed;
                    border-color: #ccc;
                    margin-left: 130px;
                    margin-bottom: 15px;
                }
                h4{
                    width: 350px;
                    font-family: SF Pro Text;
                    font-size: 20px;
                    line-height: 28px;
                    /* or 140% */

                    letter-spacing: -0.166667px;
                    margin-left: 130px;
                    color: #323C47;
                    margin-bottom: 25px;
                }
                .name{
                    width: 400px;
                    display: flex;
                    div{
                        img{
                            width: 50px;
                            height: 50px;
                            border: none;
                        }
                    }
                    // .name1{
                    //     h1{
                    //         font-family: Maax;
                    //         font-size: 16px;
                    //         letter-spacing: -0.177778px;
                    //         color: #353536;
                    //     }   
                    //     p{
                    //         margin-top: 0;
                    //         font-family: SF Pro Text;
                    //         font-size: 16px;
                    //         color: #353536;
                    //         mix-blend-mode: normal;
                    //         opacity: 0.5;
                    //     }
                    // }
                }
            }
        }
    }
    .page3{
        h1{
            margin-left: 25px;
            margin-top: 100px;
            width: 550px;
            font-family: 'Roboto', sans-serif;
            font-size: 36px;
            line-height: 36px;
            margin-bottom: 73px;
            color: #353536;
        }
        p{
            margin-left: 25px;
            font-family: sans-serif;
            font-size: 26px;
            line-height: 26px;
            color: #484848;
            margin-bottom: 25px;
        }
       .box_11{
               margin-right: 0px;
            img{
                margin-bottom: 16px;
                margin-left: 25px;
            }
            p{
                    font-family: SF Pro Text;
                    font-size: 11px;
                    line-height: 20px;
                     letter-spacing: 0.11px;
                    text-transform: uppercase;

                    color: #4F4F4F;
                    margin-bottom: 10px;
                    mix-blend-mode: normal;
                    opacity: 0.5;
            }
            .box_1{
                display: flex;
                h1{
                    margin-right: 110px;
                    margin-top: 0px;
                    width: 170px;
                    height: 22px;
                    font-family: 'Roboto', sans-serif;
                    font-size: 18px;
                    line-height: 22px;
                    letter-spacing: 0.18px;
                    color: #484848;
                }
                h2{
                    width: 45px;
                    font-family: 'Roboto', sans-serif;
                    font-size: 18px;
                   text-align: right;
                    letter-spacing: 0.18px;
                    color: #464646;
                }
            }
        }
    }
    .page4{
        margin-top: 100px;
        .left-side{
            h1{
                text-align: center;
                margin-bottom: 60px;
                margin-left: 25px;
                font-family: 'Roboto', sans-serif;
                font-size: 24px;
                line-height: 24px;
                 color: #353536;
            }
            P{
                margin-left: 25px;
                font-family: SF Pro Text;
                font-size: 18px;
                line-height: 40px;
                /* identical to box height, or 222% */
                
                
                color: #4F4F4F;
                
            }
        }
        .right-side{
            background-image: url('../img/page5.png');
            p{
                margin-left: 20px;
                padding-top: 50px;
                font-family: Maax;
                font-size: 24px;
                line-height: 24px;
                /* identical to box height */


                color: #FFFFFF;

            }
        }
        h1{
            margin-top: 60px;
            font-family: Maax;
            font-size: 36px;
            line-height: 66px;
            /* identical to box height, or 183% */

            text-align: center;
            letter-spacing: -1.125px;

            color: #353536;

        }
        img{
            margin-left: 25px;
            margin-bottom: 100px;
        }
    }
    .page5{
        background: #665BA1;
        
        h1{
            padding-top: 60px;
            font-family: Maax;
            font-size: 36px;
            line-height: 36px;
            text-align: center;
            color: #FFFFFF;
            padding-bottom: 100px;
        }
        img{
            margin-left: 330px;
            margin-bottom: 30px;
        }
        p{
            margin-left: 300px;
            width: 480px;
            font-family: SF Pro Text;
            font-size: 18px;
            line-height: 40px;
            /* or 222% */

            text-align: center;
            padding-bottom: 60px;
            color: #FFFFFF;
        }
    }
    .page6{
        margin-bottom: 100px;
        h1{
            margin-top: 100px;
            font-family: 'Roboto', sans-serif;
            font-size: 36px;
            line-height: 36px;
            /* identical to box height */
            margin-bottom: 25px;
            text-align: center;
            margin-bottom: 25px;
            color: #353536;
        }
        h3{
            margin-bottom: 60px;
          margin-left: 270px;
            width: 600px;
            font-family: sans-serif;
            font-size: 16px;
            line-height: 40px;
            /* or 250% */

            text-align: center;

            color: #353536;

        }
        .p6_1{
            margin-left: 30px;
            width: 330px;
            height: 280px;
            border: 1px solid #ccc;
            p{
                padding-top: 20px;
                padding-left: 30px;
                margin: 0;
                margin-left: 5px;
                font-family: SF Pro Text;
                font-size: 16px;
                line-height: 26px;
                color: #1B1B1B;
                mix-blend-mode: normal;
                opacity: 0.3;
            }
            h1{
                padding-left: 30px;
                text-align: start;
                margin: 0;
                width: 280px;
                font-family: 'Roboto', sans-serif;
                font-size: 24px;
                line-height: 36px;
                /* or 150% */

                letter-spacing: -1px;

                color: #1B1B1B;
            }
            h2{
                padding-top: 11px;
                padding-left: 30px;
                width: 300px;
                margin: 0;
                font-family: SF Pro Text;
                font-size: 16px;
                line-height: 26px;
                color: #1B1B1B;
                mix-blend-mode: normal;
                opacity: 0.5;
                padding-bottom: 20px;
            }
            a{
                padding-left: 30px;
                text-decoration: none;
                padding-bottom: 25px;
            }
        }
    }
    .page7{
        padding-bottom: 150px;
       background-image: url(../img/footer.png); 
      .p7_0{
        .p7_1{
            display: flex;
            img{
                padding-top: 90px;
                padding-right: 10px;
            }
            h1{
                padding-top: 99px;
             font-family: 'Roboto', sans-serif;
             font-size: 20px;
             line-height: 20px;
             /* identical to box height */
             
             letter-spacing: -0.625px;
             
             color: #FFFFFF;
            }
        }
        p{
            margin-top: 25px;
            width: 280px;
            font-family: SF Pro Text;
            font-size: 16px;
            line-height: 24px;
            color: #746F8D;

            mix-blend-mode: normal;
            opacity: 0.5;
            padding-bottom: 15px;
        }
        h1{
            padding-top: 30px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #746F8D;

            mix-blend-mode: normal;
            opacity: 0.3;
        }
      }
      .about{
          h1{
              padding-top: 90px;
            font-family: Maax;
            font-size: 14px;
            line-height: 14px;
            /* identical to box height */
            
            letter-spacing: 0.5px;
            
            color: #FFFFFF;
          }
          p{
              width: 70px;
              font-family: SF Pro Text;
                font-size: 16px;
                line-height: 30px;
               color: #746F8D;
          }
      }
      .links{
          h1{
              padding-top: 60px;
            font-family: Maax;
            font-size: 14px;
            line-height: 14px;
            /* identical to box height */
            
            letter-spacing: 0.5px;
            
            color: #FFFFFF;
          }
          p{
              width: 80px;
              font-family: SF Pro Text;
                font-size: 16px;
                line-height: 30px;
                 color: #746F8D;

             }
      }
      .company{
          h1{
              padding-top: 90px;
            font-family: Maax;
            font-size: 14px;
            line-height: 14px;
            /* identical to box height */
            
            letter-spacing: 0.5px;
            
            color: #FFFFFF;
          }
          p{
              width: 100px;
              font-family: SF Pro Text;
                font-size: 16px;
                line-height: 30px;
                /* or 187% */


                color: #746F8D;
          }
      }
      .downloads{
          h1{
              padding-bottom: 10px;
              padding-top: 90px;
            font-family: Maax;
            font-size: 14px;
            line-height: 14px;
            /* identical to box height */
            
            letter-spacing: 0.5px;
            text-transform: uppercase;
            
            color: #FFFFFF;
          }
          img{
              padding-bottom: 15px;
          }
      }
    }
}