@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.main .page1 header {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .page1 header img {
  margin-right: 12px;
}

.main .page1 header h1 {
  margin-top: 10px;
  margin-right: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.625px;
  color: #353536;
}

.main .page1 header nav {
  margin-top: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .page1 header nav a {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 15px;
  /* identical to box height */
  letter-spacing: -0.46875px;
  color: #353536;
  text-decoration: none;
  margin-right: 10px;
}

.main .page1 header nav .right-side {
  margin-left: 400px;
}

.main .page1 header nav button {
  border: 1px solid #F362A9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  font-family: Maax;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */
  background-color: transparent;
  text-align: center;
  letter-spacing: -0.46875px;
  color: #353536;
}

.main .page1 .one h1 {
  width: 900px;
  margin-left: 100px;
  margin-top: 60px;
  font-family: Maax;
  font-size: 60px;
  line-height: 66px;
  text-align: center;
  letter-spacing: -1.875px;
  color: #353536;
}

.main .page1 .one .selection {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 180px;
  margin-top: 32px;
  margin-bottom: 20px;
}

.main .page1 .one .selection .country select {
  width: 150px;
  height: 50px;
}

.main .page1 .one .selection .area input {
  width: 150px;
  height: 50px;
}

.main .page1 .one .selection .looking select {
  width: 150px;
  height: 50px;
}

.main .page1 .one .selection .budget input {
  width: 130px;
  height: 50px;
}

.main .page1 .one .selection button {
  background: #665BA1;
  color: #fff;
  width: 150px;
  height: 50px;
}

.main .page2 h1 {
  margin-top: 80px;
  margin-bottom: 32px;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  line-height: 66px;
  /* identical to box height, or 183% */
  text-align: center;
  letter-spacing: -1.125px;
  color: #353536;
}

.main .page2 .picsBlock {
  margin-bottom: 100px;
  margin-left: 20px;
}

.main .page2 .picsBlock .box1 {
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .page2 .picsBlock .box1 img {
  border-radius: 10px;
  padding-right: 10px;
}

.main .page2 .picsBlock .box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .page2 .picsBlock .box2 img {
  border-radius: 10px;
  padding-right: 10px;
}

.main .page2 h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  line-height: 66px;
  text-align: center;
  letter-spacing: -1.125px;
  color: #353536;
}

.main .page2 .blocks .left-side img {
  width: 700px;
}

.main .page2 .blocks .right-side h1 {
  margin-right: 98px;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #353536;
  margin-bottom: 14px;
}

.main .page2 .blocks .right-side p {
  margin-left: 130px;
  width: 300px;
  font-family: SF Pro Text;
  font-size: 16px;
  line-height: 24px;
  color: #353536;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-bottom: 15px;
}

.main .page2 .blocks .right-side a {
  margin-left: 130px;
}

.main .page2 .blocks .right-side hr {
  margin-left: 130px;
  width: 250px;
  margin-bottom: 60px;
}

.main .page2 .blocks .right-side img {
  border-width: 5px;
  border-style: dashed;
  border-color: #ccc;
  margin-left: 130px;
  margin-bottom: 15px;
}

.main .page2 .blocks .right-side h4 {
  width: 350px;
  font-family: SF Pro Text;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */
  letter-spacing: -0.166667px;
  margin-left: 130px;
  color: #323C47;
  margin-bottom: 25px;
}

.main .page2 .blocks .right-side .name {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .page2 .blocks .right-side .name div img {
  width: 50px;
  height: 50px;
  border: none;
}

.main .page3 h1 {
  margin-left: 25px;
  margin-top: 100px;
  width: 550px;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 73px;
  color: #353536;
}

.main .page3 p {
  margin-left: 25px;
  font-family: sans-serif;
  font-size: 26px;
  line-height: 26px;
  color: #484848;
  margin-bottom: 25px;
}

.main .page3 .box_11 {
  margin-right: 0px;
}

.main .page3 .box_11 img {
  margin-bottom: 16px;
  margin-left: 25px;
}

.main .page3 .box_11 p {
  font-family: SF Pro Text;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 0.11px;
  text-transform: uppercase;
  color: #4F4F4F;
  margin-bottom: 10px;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.main .page3 .box_11 .box_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .page3 .box_11 .box_1 h1 {
  margin-right: 110px;
  margin-top: 0px;
  width: 170px;
  height: 22px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.18px;
  color: #484848;
}

.main .page3 .box_11 .box_1 h2 {
  width: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: right;
  letter-spacing: 0.18px;
  color: #464646;
}

.main .page4 {
  margin-top: 100px;
}

.main .page4 .left-side h1 {
  text-align: center;
  margin-bottom: 60px;
  margin-left: 25px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #353536;
}

.main .page4 .left-side P {
  margin-left: 25px;
  font-family: SF Pro Text;
  font-size: 18px;
  line-height: 40px;
  /* identical to box height, or 222% */
  color: #4F4F4F;
}

.main .page4 .right-side {
  background-image: url("../img/page5.png");
}

.main .page4 .right-side p {
  margin-left: 20px;
  padding-top: 50px;
  font-family: Maax;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height */
  color: #FFFFFF;
}

.main .page4 h1 {
  margin-top: 60px;
  font-family: Maax;
  font-size: 36px;
  line-height: 66px;
  /* identical to box height, or 183% */
  text-align: center;
  letter-spacing: -1.125px;
  color: #353536;
}

.main .page4 img {
  margin-left: 25px;
  margin-bottom: 100px;
}

.main .page5 {
  background: #665BA1;
}

.main .page5 h1 {
  padding-top: 60px;
  font-family: Maax;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 100px;
}

.main .page5 img {
  margin-left: 330px;
  margin-bottom: 30px;
}

.main .page5 p {
  margin-left: 300px;
  width: 480px;
  font-family: SF Pro Text;
  font-size: 18px;
  line-height: 40px;
  /* or 222% */
  text-align: center;
  padding-bottom: 60px;
  color: #FFFFFF;
}

.main .page6 {
  margin-bottom: 100px;
}

.main .page6 h1 {
  margin-top: 100px;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  line-height: 36px;
  /* identical to box height */
  margin-bottom: 25px;
  text-align: center;
  margin-bottom: 25px;
  color: #353536;
}

.main .page6 h3 {
  margin-bottom: 60px;
  margin-left: 270px;
  width: 600px;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 40px;
  /* or 250% */
  text-align: center;
  color: #353536;
}

.main .page6 .p6_1 {
  margin-left: 30px;
  width: 330px;
  height: 280px;
  border: 1px solid #ccc;
}

.main .page6 .p6_1 p {
  padding-top: 20px;
  padding-left: 30px;
  margin: 0;
  margin-left: 5px;
  font-family: SF Pro Text;
  font-size: 16px;
  line-height: 26px;
  color: #1B1B1B;
  mix-blend-mode: normal;
  opacity: 0.3;
}

.main .page6 .p6_1 h1 {
  padding-left: 30px;
  text-align: start;
  margin: 0;
  width: 280px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 36px;
  /* or 150% */
  letter-spacing: -1px;
  color: #1B1B1B;
}

.main .page6 .p6_1 h2 {
  padding-top: 11px;
  padding-left: 30px;
  width: 300px;
  margin: 0;
  font-family: SF Pro Text;
  font-size: 16px;
  line-height: 26px;
  color: #1B1B1B;
  mix-blend-mode: normal;
  opacity: 0.5;
  padding-bottom: 20px;
}

.main .page6 .p6_1 a {
  padding-left: 30px;
  text-decoration: none;
  padding-bottom: 25px;
}

.main .page7 {
  padding-bottom: 150px;
  background-image: url(../img/footer.png);
}

.main .page7 .p7_0 .p7_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .page7 .p7_0 .p7_1 img {
  padding-top: 90px;
  padding-right: 10px;
}

.main .page7 .p7_0 .p7_1 h1 {
  padding-top: 99px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height */
  letter-spacing: -0.625px;
  color: #FFFFFF;
}

.main .page7 .p7_0 p {
  margin-top: 25px;
  width: 280px;
  font-family: SF Pro Text;
  font-size: 16px;
  line-height: 24px;
  color: #746F8D;
  mix-blend-mode: normal;
  opacity: 0.5;
  padding-bottom: 15px;
}

.main .page7 .p7_0 h1 {
  padding-top: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #746F8D;
  mix-blend-mode: normal;
  opacity: 0.3;
}

.main .page7 .about h1 {
  padding-top: 90px;
  font-family: Maax;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: 0.5px;
  color: #FFFFFF;
}

.main .page7 .about p {
  width: 70px;
  font-family: SF Pro Text;
  font-size: 16px;
  line-height: 30px;
  color: #746F8D;
}

.main .page7 .links h1 {
  padding-top: 60px;
  font-family: Maax;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: 0.5px;
  color: #FFFFFF;
}

.main .page7 .links p {
  width: 80px;
  font-family: SF Pro Text;
  font-size: 16px;
  line-height: 30px;
  color: #746F8D;
}

.main .page7 .company h1 {
  padding-top: 90px;
  font-family: Maax;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: 0.5px;
  color: #FFFFFF;
}

.main .page7 .company p {
  width: 100px;
  font-family: SF Pro Text;
  font-size: 16px;
  line-height: 30px;
  /* or 187% */
  color: #746F8D;
}

.main .page7 .downloads h1 {
  padding-bottom: 10px;
  padding-top: 90px;
  font-family: Maax;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.main .page7 .downloads img {
  padding-bottom: 15px;
}
/*# sourceMappingURL=style.css.map */